border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

bg-color = #6DAD53
color = #000

.slide-out
	position: fixed
	width: 350px
	text-align: center
	z-index: 999

	.handler
		background: bg-color
		color: #fff
		text-decoration: none;
		display: inline-block;
		padding: 10px;

	.content
		background: bg-color
		text-align: left
		color: color
		p
			margin: 0
			padding: 1em
	
	&.left
		top: 100px
		left: 0
		.handler
			border-radius 0 5px 5px 0
			float:right
		.content
			border-radius 0 0 5px 0
			margin-right: 60px

	&.right
		top: 200px
		right: 0
		.handler
			border-radius 5px 0 0 5px
			float:left
		.content
			border-radius 0 0 0 5px
			margin-left: 60px
	
	&.top
		left: 400px
		top: 0
		.handler
			border-radius 0 0 5px 5px
		.content
			border-radius 0 0 5px 5px
			height: 140px;

	&.bottom
		left: 600px
		bottom: 0
		.handler
			border-radius 5px 5px 0 0
		.content
			border-radius 5px 5px 0 0
			height: 140px;